.to-do-container {
  width: 500px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.to-do-create-form {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
}
.to-do-input {
  margin-left: 5px;
  flex-grow: 1;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: solid 1px #999;
}

.button-create {
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
}

.to-dos-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.to-do {
  padding: 10px;
  background-color: white;
}

.to-do-title {
  font-size: 1.1rem;
  font-family: Verdana, sans-serif;
  margin-bottom: 16px;
}

.title-form {
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 3rem;
  margin-top: 10px;
  font-weight: 600;
}

.to-do-update-form,
.to-do-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.button-delete {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(169, 26, 26);
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.button-update {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(55, 26, 169);
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.to-do-input-update {
  flex-grow: 1;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: solid 1px #999;
}

.to-do-info.completed {
  text-decoration: line-through;
}
